.header.js-header
  a.header__logo-wrap.js-logo(href='#')
    img.header__logo-img(src="/public/img/logo.png", alt="logo")
  nav.header__list.pc-flex(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500")
    a.header__link(href="#") HOME
    a.header__link(href="#about") ABOUT
    a.header__link(href="#works") WORKS
    a.header__link.header__link--box(href="#contact") CONTACT
  .header__hamburger-menu.js-header-menu
    .header__hamburger-wrap.js-line-wrap
      span.header__hamburger-line
      span.header__hamburger-line
      span.header__hamburger-line
  .header__link-wrap.sp-flex.js-sp-nav(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500")
    a.header__link.js-nav-link(href='#') HOME
    a.header__link.js-nav-link(href='#about') ABOUT
    a.header__link.js-nav-link(href='#works') WORKS
    a.header__link.header__link--box.js-nav-link(href='#contact') CONTACT