@use 'tools/media-queries' as mq;

.footer {
  height: 100px;
  background-color: rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq.sp {
    height: 60px;
  }

  &__copyright-wrap {
    font-size: 16px;
    color: #cad7f2;
    @include mq.sp {
      font-size: 12px;
    }
  }
}
